<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Treinamento</title>
    <link rel="shortcut icon" href="/src/main/resources/static/img/logo.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/main/resources/static/css/style.css" /> <!-- Importação do arquivo CSS que vamos editar -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> <!-- Importação do arquivo CSS do bootstrap -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Importação da fonte -->
  
  </head>
  <body>
    
    <!-- Inicio navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary"">
      <div class="container-fluid">
        
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">       
            <li>
              <img width="40px" src="/src/main/resources/static/img/logo.ico" alt="logo"/>
            </li>              
            <li class="nav-item">              
              <a class="nav-link active" aria-current="page" href="/src/main/resources/templates/index.html">Neuro Conexão</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/src/main/resources/templates/index.html">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/main/resources/templates/pages/conexao.html">Conexões</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/main/resources/templates/pages/treinamento.html">Treinamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/main/resources/templates/pages/sobrenos.html">Sobre nós</a>
            </li>            
          </ul>         
      </div>
    </nav>
    <!-- Final navbar -->
<!-- conteudo -->
<div class="container-fluid d-flex flex-column content">
  <!--conteudo ALFA INICIO-->
  <!--Explicação: INICIO profissional neuroatípico-->
  <section class="cards-section">
    <div class="card mt-5" style="max-width: 1200px; border:none;min-height:50vh; padding: 10px; ">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/src/main/resources/static/img/conexao-img/profissionalNeurotipico.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title fw-bolder">Profissional neurodiverso</h3>
            <div class = "card-body d-flex align-items-center justify-content-center">
              <p class="card-text">No mundo profissional diversificado, surge uma perspectiva enriquecedora e inovadora: o profissional neuroatípico. Indivíduos neurodiversos trazem habilidades únicas, perspectivas e soluções criativas para desafios no trabalho. Com mentes distintas, como autismo e TDAH, esses profissionais oferecem abordagens únicas para resolver problemas e colaborar. Abraçar a neurodiversidade não só promove inclusão, mas também desbloqueia potencial humano para resultados excepcionais.</p> 
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--FIM conteudo neurotípico-->
      <!--INICIO empresa-->
      <section class="cards-section">
        <div class="card " style="max-width: 1200px; border: none;  padding: 10px;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title fw-bolder">Empresas</h3>
                <div class="card-body d-flex align-items-center flex-row-reverse">
                  <p class="card-text">
                    Empresas comprometidas com a neurodiversidade buscam ativamente profissionais neurodiversos Elas se cadastram em nossa plataforma, onde detalham suas necessidades e requisitos. Como mediadores, facilitamos a conexão entre essas empresas e talentos neurodiversos, criando um ambiente acolhedor e inclusivo para ambos.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/src/main/resources/static/img/conexao-img/empresa.png" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
        <hr>
      </section>
  
      <!--FIM empresa-->
      <!--INICIO profissional da saúde-->
  <section class="cards-section">
    <div class="card " style="max-width: 1200px; border:none;min-height:50vh; padding: 10px; ">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/src/main/resources/static/img/conexao-img/profissionalSaude.png" class="img-fluid rounded-start" alt="..">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title fw-bolder">Profissional da Saúde</h3>
            <div class = "card-body d-flex align-items-center justify-content-center">
              <p class="card-text">Profissionais de saúde atuam como mediadores entre profissionais neurodiversos e empresas, auxiliando o RH corporativo e validando dados. Essa colaboração assegura uma conexão eficaz, garantindo que os talentos neurodiversos encontrem oportunidades adequadas, validadas por especialistas, para um ambiente de trabalho inclusivo e produtivo.</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--FIM profissional Saúde-->
      <!--INCIO cadastro-->
      <main class="cards">
        <h3 class="fw-bolder">Cadastre-se</h3>
        <p>Seja a mudança que você quer ver no mundo profissional. Contamos com você para construir um futuro onde a diversidade é o nosso maior trunfo!</p>
        <div class="container-cards">
          <section class="card contact">
              <div class="icon">
                  <img src="/src/main/resources/static/img/conexao-img/profissionalNeurotipico.png" alt="Contact us.">
              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSd364PsAhoodXfXCQ1VY5WNElsgzGfEgse2n7kDH0Kpxpwx5w/viewform" target="_blank"><button>Sou Neurodiverso</button></a>
          </section>
          <section class="card shop">
              <div class="icon">
                  <img src="/src/main/resources/static/img/conexao-img/empresa.png" alt="Shop here.">
              </div>
  
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfURCevTYBXfe18eRRPnuklbIe6VlqJHm_-Mw7Qtk_WyV7N-g/viewform" target="_blank"><button>Sou empresa</button></a>
          </section>
          <section class="card about">
              <div class="icon">
                  <img src="/src/main/resources/static/img/conexao-img/profissionalSaude.png" alt="About us.">
              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSd364PsAhoodXfXCQ1VY5WNElsgzGfEgse2n7kDH0Kpxpwx5w/viewform" target="_blank"><button>Sou psicólogo</button></a>
          </section>
        </div>
      </main>
    </section>
  </div>
</div>
  <!--FIM cadastro-->
  <!-- final conteudo -->

  <!-- footer -->
  <div class="container-fluid footerstyle">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 offset-md-1 col-md-1 mb-1">
          <h5>Menu</h5>
          
          <ul class="nav flex-column">

            <li class="nav-item mb-1"><a href="/src/main/resources/templates/index.html" class="nav-link p-0 text-body-secondary">Inicio</a></li>
            <li class="nav-item mb-1"><a href="/src/main/resources/templates/pages/conexao.html" class="nav-link p-0 text-body-secondary">Conexão</a></li>
            <li class="nav-item mb-1"><a href="/src/main/resources/templates/pages/treinamento.html" class="nav-link p-0 text-body-secondary">Treinamento</a></li>             
            <li class="nav-item mb-1"><a href="/src/main/resources/templates/pages/sobrenos.html" class="nav-link p-0 text-body-secondary">Contatos</a></li>

          </ul>       
        </div>

        <div class="col-6 offset-md-1 col-md-1 mb-1">
          <h5>Redes</h5>
          
          <ul class="nav flex-column">
            <li class="nav-item mb-1 d-flex">
              <a href="#" target="_blank">
                <img src="/src/main/resources/static/img/icones/whatsapp.png" alt="whatsapp" class="icon-img"">
              </a>
              
              </li>
            <li class="nav-item mb-1 d-flex">
              <a href="#" target="_blank">
                <img src="/src/main/resources/static/img/icones/instagram.png" alt="instagram" class="icon-img">
              </a>
                
              </li>
            <li class="nav-item mb-1 d-flex">
              <a href="#" target="_blank">
                <img src="/src/main/resources/static/img/icones/facebook.png" alt="facebook" class="icon-img">
              </a>
                
              </li>          
          </ul>
        </div>                   

        <div class="col-6  offset-md-1 mb-1">
          <form>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Endereço de Email">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Em que podemos ajudar?</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <button type="submit" class="btn btn-dark mb-3 mt-3">Enviar</button>
            </div>
          </form>
        </div>
      </div>      
    </footer>
  </div>
  <!-- final footer -->  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> <!-- Importação do arquivo JS do bootstrap -->
  </body>
</html>
