<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Login e Cadastro</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
  </head>

	<body class="login-body">
		<div class="fundo-lado-esquerdo">
			<div class="lado-esquerdo-text">
				<h2>Seja bem-vindo (a)</h2>
				<!-- <p>Selecione seu perfil e faça login em nosso s1ite:</p> -->
			</div>

			<img class="login-imagem" src="../../static/img/treinamento-img/neurodiverso.png">
		</div>
			
		<div class="container">	
  			<div class="form">
					<h2>Acesse sua conta</h2>
					<form action="#" method="POST">
						<input type="text" placeholder="Usuário" name="username" required>
						<input type="password" placeholder="Senha" name="password" required>
						<a class="button"  href="../vagas/vagas.html" type="submit">Entrar</a>
                        <a href="login.html">Ainda não é cadastrado?</a>
						<button class="btn-header" type="submit"><a href="../index.html">Voltar</button></a>
					</form>
			</div>
				
		</div>
	</body>
	
</html>