<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Treinamento</title>
    <link rel="shortcut icon" href="/src/main/resources/static/img/logo.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/main/resources/static/css/style.css" /> <!-- Importação do arquivo CSS que vamos editar -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> <!-- Importação do arquivo CSS do bootstrap -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Importação da fonte -->
  
  </head>
  <body>

    <!-- Inicio navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary"">
      <div class="container-fluid">
        
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">       
            <li>
              <img width="40px" src="/src/main/resources/static/img/logo.ico" alt="logo"/>
            </li>              
            <li class="nav-item">              
              <a class="nav-link active" aria-current="page" href="/src/main/resources/templates/index.html">Neuro Conexão</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/src/main/resources/templates/index.html">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/main/resources/templates/pages/conexao.html">Conexões</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/main/resources/templates/pages/treinamento.html">Treinamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/main/resources/templates/pages/sobrenos.html">Sobre nós</a>
            </li>            
          </ul>         
      </div>
    </nav>
    <!-- Final navbar -->

    <!-- conteudo -->
    <h3 class="title-us"> Somos o Squad 14 do Recode Pro 2023! </h3>

    <div class="container-fluid d-flex flex-column content div-sobrenos " style="max-width:75% ;">     

        

        <div class="card-group card-us container-fluid ">

          <div class="card card-us">
            <img src="/src/main/resources/static/img/imagens-squad/alfa.png" class="card-img-top img-us">
            <div class="card-body">
              <p class="card-title p-us">Alfannya Abrantes</p>
            </div>
          </div>

          <div class="card card-us">
            <img src="/src/main/resources/static/img/imagens-squad/ana.png" class="card-img-top img-us">
            <div class="card-body">
              <p class="card-title p-us">Ana Clara</p>
              </div>
          </div>

          <div class="card card-us">
            <img src="/src/main/resources/static/img/imagens-squad//andersonrocha.png" class="card-img-top img-us">
            <div class="card-body">
              <p class="card-title p-us">Anderson Rocha</p>
             </div>
          </div>
          <div class="card card-us">
            <img src="/src/main/resources/static/img/imagens-squad//anderson.png" class="card-img-top img-us">
            <div class="card-body">
              <p class="card-title p-us">Anderson Borba</p>
            </div>
          </div>
          </div>

          <div class="card-group card-us container-fluid ">

            <div class="card card-us">
              <img src="/src/main/resources/static/img/imagens-squad/marcelle.jpg" class="card-img-top img-us">
              <div class="card-body">
                <p class="card-title p-us">Marcelle Santos</p>
              </div>
            </div>
  
            <div class="card card-us">
              <img src="/src/main/resources/static/img/imagens-squad/marconi.jpg" class="card-img-top img-us">
              <div class="card-body">
                <p class="card-title p-us">Marconi Sena</p>
                </div>
            </div>
  
            <div class="card card-us">
              <img src="/src/main/resources/static/img/imagens-squad//marcos.jpg" class="card-img-top img-us">
              <div class="card-body">
                <p class="card-title p-us">Marcos Paulo</p>
               </div>
            </div>
            <div class="card card-us">
              <img src="/src/main/resources/static/img/imagens-squad//matheus.jpg" class="card-img-top img-us">
              <div class="card-body">
                <p class="card-title p-us">Matheus Renato</p>
              </div>
            </div>
            </div>
            
          </div>
          
        </div>
    </div>
    <!-- final conteudo -->

    <!-- footer -->
  <div class="container-fluid footerstyle">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 offset-md-1 col-md-1 mb-1">
          <h5>Menu</h5>
          
          <ul class="nav flex-column">

            <li class="nav-item mb-1"><a href="/src/main/resources/templates/index.html" class="nav-link p-0 text-body-secondary">Inicio</a></li>
            <li class="nav-item mb-1"><a href="/src/main/resources/templates/pages/conexao.html" class="nav-link p-0 text-body-secondary">Conexão</a></li>
            <li class="nav-item mb-1"><a href="/src/main/resources/templates/pages/treinamento.html" class="nav-link p-0 text-body-secondary">Treinamento</a></li>             
            <li class="nav-item mb-1"><a href="/src/main/resources/templates/pages/sobrenos.html" class="nav-link p-0 text-body-secondary">Contatos</a></li>

          </ul>       
        </div>

        <div class="col-6 offset-md-1 col-md-1 mb-1">
          <h5>Redes</h5>
          
          <ul class="nav flex-column">
            <li class="nav-item mb-1 d-flex">
              <a href="#" target="_blank">
                <img src="/src/main/resources/static/img/icones/whatsapp.png" alt="whatsapp" class="icon-img"">
              </a>
              
              </li>
            <li class="nav-item mb-1 d-flex">
              <a href="#" target="_blank">
                <img src="/src/main/resources/static/img/icones/instagram.png" alt="instagram" class="icon-img">
              </a>
                
              </li>
            <li class="nav-item mb-1 d-flex">
              <a href="#" target="_blank">
                <img src="/src/main/resources/static/img/icones/facebook.png" alt="facebook" class="icon-img">
              </a>
                
              </li>          
          </ul>
        </div>                   

        <div class="col-6  offset-md-1 mb-1">
          <form>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Endereço de Email">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Em que podemos ajudar?</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <button type="submit" class="btn btn-dark mb-3 mt-3">Enviar</button>
            </div>
          </form>
        </div>
      </div>      
    </footer>
  </div>
  <!-- final footer -->  
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> <!-- Importação do arquivo JS do bootstrap -->
  </body>
</html>
