@charset "UTF-8";

* {
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --cor-primaria: #9274e3;
  --cor-primaria-escura: #5d4b91;
  --cor-secundaria: #c481fd;
  --cor-secundaria-escura: #78509c;
  --cor-terciaria: #8c8cfb;
  --cor-terciaria-escura: #545494;
  --white: #ffff;
  --gray: #ccc;
  --black: #242424;
}

p {
  font-size: 1.05rem;
  text-align: justify;
}

hr {
  height: 1px;
  background-color: #ccc;
  width: 90%;
}

.main-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* HOME */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    117deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(146, 116, 227, 1) 0%,
    rgba(196, 129, 253, 1) 80%
  );
  /* border-radius: 10px; SÓ UMA SUGESTÃO*/
  margin-bottom: 40px;
  /* margin-top: 20px; */
  min-height: 80vh;
}

/* SÓ UMA SUGESTÃO */
.about-index {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px !important;
}
/* SÓ UMA SUGESTÃO */

.about-content {
  padding: 30px;
  width: 70%;
}
.about-img {
  width: 30%;
}
#hero-img {
  width: 70%;
}
.about-title {
  max-width: 950px;
  font-weight: 600;
}

#about-paragraph {
  max-width: 1000px;
  font-size: 17px;
}

.about-btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 16px 0;
}

.about-btn > a {
  text-decoration: none;
  color: #242424;
  font-weight: 600;
  font-size: 16px;
}

.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-bg {
  background-image: url("../img/desing1.png");
  background-size: cover;
}

.card-bg2 {
  background-image: url("../img/home-img/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* TREINAMENTO */
.conteiner-treinamento {
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: center;
  min-height: 90vh;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px 20px 0px;
}
.card-treinamento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 20px 20px 50px -30px var(--cor-primaria);
}

.card-treinamento1 {
  box-shadow: 20px 20px 50px -30px var(--cor-primaria);
}

.card-treinamento2 {
  box-shadow: 20px 20px 50px -30px var(--cor-secundaria);
}

.card-treinamento3 {
  box-shadow: 20px 20px 50px -30px var(--cor-terciaria);
}

.text-treinamento {
  text-indent: 20px;
}

/* FOOTER */

.footerstyle {
  background-color: var(--gray);
}
.icon-img {
  width: 25%;
}

/*CONEXÃO*/

hr {
  height: 1px;
  width: 100%;
  background-color: var(--black);
}
.cards-section-conexao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main.cards,
.container-cards,
.main.cards section.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.cards {
  padding: 32px;
}

.container-cards {
  flex-direction: row;
  flex-wrap: wrap;
}

main.cards section.card {
  text-align: center;
  background: var(--white);
  padding: 2rem;
  border-radius: 8px;
  max-height: 468px;
  margin: 1rem;
  max-width: 300px;
}

main.cards section.card .icon {
  width: 150px;
  margin-bottom: 2rem;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 16px 0;
}

main.cards section.card.contact button {
  background: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-primaria-escura)
  );
}
main.cards section.card.shop button {
  background: linear-gradient(
    to right,
    var(--cor-secundaria),
    var(--cor-secundaria-escura)
  );
}
main.cards section.card.about button {
  background: linear-gradient(
    to right,
    var(--cor-terciaria),
    var(--cor-terciaria-escura)
  );
}

main.cards section.card.contact {
  box-shadow: 20px 20px 50px -30px var(--cor-primaria);
}
main.cards section.card.shop {
  box-shadow: 20px 20px 50px -30px var(--cor-secundaria);
}
main.cards section.card.about {
  box-shadow: 20px 20px 50px -30px var(--cor-terciaria);
}

@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
  }

  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  main.cards section.card:last-child {
    margin-bottom: 0;
  }

  main.cards section.card button {
    font-size: 70%;
  }
}

/* SCROOLBAR */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

/*SOBRE NÓS*/

.div-sobrenos {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-us {
  padding: 10px;
  margin-right: 30px;
}

/*Remover?*/
/* .img-us {
  border-radius: 10px;
} */

.title-us {
  text-align: center;
  margin-top: 30px;
}

.p-us {
  text-align: center;
}

/* Responsividades */

@media screen and (max-width: 720px) {
  /* .about-container {
  flex-direction: column;
} */
  .about-img {
    display: none;
  }
  .about-title {
    max-width: 1000px;
    font-weight: 700;
  }
  #about-paragraph {
    max-width: 1000px;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1500px) {
  /* Estilos aplicados quando a largura da tela estiver entre 481px e 767px */
  .icon-img {
    width: 50%;
  }
}
@media screen and (max-width: 719px) {
  .p-us {
    font-size: 11.5px;
    font-weight: 600;
  }
}

/* PAGINA LOGIN*/

:root {
--color-1: #484ca4;
--color-2: #60AED2;
--color-3: #484ca4;
--color-4: beige;
}

.login-body {
  font-family: 'Arvo', serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns:  60% 40%;
}
.fundo-lado-esquerdo{
  background-color: var(--cor-primaria-escura); /* #484ca4;*/
  height: 100%;
  width: 90%;
}
.lado-esquerdo-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--color-4);
}
.lado-esquerdo-text h2{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 40px;
}
.btn-header {
  margin-top: 30px;
  width: 50px;
  height: 30px;
  background-color: var(--cor-secundaria-escura);
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:var(--color-4);
}
.btn-header a {
  color:var(--color-4);
  text-decoration: none;
  font-size: 13px;
}
.lado-esquerdo-text p{
  font-size: 15px;
}

.login-imagem{
  width: 60%;
  height: 65%;
  position: relative;
  left: 20%;
  top: 5%;
}
.container {
  height: fit-content + 100px ;
  position: relative;
  right: 10px;
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form, .form{
 
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
.form input{
  border: none;
  background-color: #f0f0f0;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  width: 70%;
  margin: 10px 0px;
}
.form .button{
  width: 70%;
  padding: 10px;
  background-color: var(--cor-secundaria-escura) ;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}
.login-a{
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
}